.content-tabs {
  padding: 0 24px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.mercury input:checked + label {
    border-bottom-color: $mercury;
  }
  &.venus input:checked + label {
    border-bottom-color: $venus;
  }
  &.earth input:checked + label {
    border-bottom-color: $earth;
  }
  &.mars input:checked + label {
    border-bottom-color: $mars;
  }
  &.jupiter input:checked + label {
    border-bottom-color: $jupiter;
  }
  &.saturn input:checked + label {
    border-bottom-color: $saturn;
  }
  &.uranus input:checked + label {
    border-bottom-color: $uranus;
  }
  &.neptune input:checked + label {
    border-bottom-color: $neptune;
  }
  input {
    display: none;
    &:checked + label {
      border-top: 4px solid transparent;
      border-bottom: 4px solid white;
      opacity: 1;
    }
  }
  label {
    color: white;
    opacity: 50%;
    text-transform: uppercase;
    padding: 20px 0 17px 0;
    font-family: $spartan-font;
    font-weight: 700;
    font-size: 9px;
    line-height: 10.08px;
    letter-spacing: 1.93px;
    text-align: center;
    & .number,
    & .extra-text {
      display: none;
    }
    & .number {
      margin-right: 17px;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .content-tabs {
    margin: 0;
    padding: 0;
    &.mercury input:checked + label {
      background: $mercury;
    }
    &.venus input:checked + label {
      background: $venus;
    }
    &.earth input:checked + label {
      background: $earth;
    }
    &.mars input:checked + label {
      background: $mars;
    }
    &.jupiter input:checked + label {
      background: $jupiter;
    }
    &.saturn input:checked + label {
      background: $saturn;
    }
    &.uranus input:checked + label {
      background: $uranus;
    }
    &.neptune input:checked + label {
      background: $neptune;
    }
    label {
      opacity: 1;
      text-align: left;
      padding-left: 20px;

      & .number,
      & .extra-text {
        display: inline;
      }
    }
    .number {
      opacity: 0.5;
    }
  }
}
