@import 'content-tabs.scss';
@import 'planet-image.scss';
.content {
  margin: 0 24px;
  h1 {
    @include h2-text;
    text-align: center;
    color: white;
    margin-bottom: 16px;
  }
  .planet-text {
    @include body-text;
    color: white;
    text-align: center;
    margin-bottom: 36px;
  }
  .wiki-article {
    color: white;
    font-family: $spartan-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 28px;
    .source {
      opacity: 50%;
    }
    a {
      color: white;
      font-weight: 700;
      opacity: 50%;
      &:hover {
        opacity: 1;
      }
    }
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 48px;
    .stat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: solid 1px rgba(255, 255, 255, 0.2);
      padding: 16px 24px;
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
      .stat-name {
        font-family: $spartan-font;
        font-weight: 700;
        opacity: 50%;
        font-size: 8px;
        line-height: 16px;
        letter-spacing: 0.73;
        text-transform: uppercase;
        color: white;
      }
      .stat-value {
        font-family: $antonio-font;
        font-weight: 400;
        font-size: 20px;
        line-height: 25.88px;
        letter-spacing: -0.75px;
        text-align: right;
        color: white;
      }
    }
  }
}

@media screen and(min-width: $breakpoint-tablet) {
  .content {
    display: grid;
    width: 100%;
    grid-template-areas:
      'img img'
      'info tabs'
      'stats stats';
    grid-template-columns: 1fr 1fr;
    .content-tabs {
      grid-area: tabs;
      flex-direction: column;
      justify-content: center;
      border: none;
      height: 100%;
      label {
        border: solid 1px rgba(255, 255, 255, 0.2) !important;
        width: 100%;
        &:not(:last-of-type) {
          margin-bottom: 16px;
        }
      }
    }
    .planet-image {
      grid-area: img;
    }
    .planet-content {
      grid-area: info;
      h1,
      p {
        text-align: left;
      }
    }
    .stats {
      grid-area: stats;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .stat {
        width: 24%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 0 !important;
      }
    }
  }
}
