.content {
  margin: 0 24px;
  h1 {
    @include h2-text;
    text-align: center;
    color: white;
    margin-bottom: 16px;
  }
  .planet-text {
    @include body-text;
    color: white;
    text-align: center;
    margin-bottom: 36px;
  }
  .wiki-article {
    color: white;
    font-family: $spartan-font;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    .source {
      opacity: 50%;
    }
    a {
      color: white;
      font-weight: 700;
      opacity: 50%;
      &:hover {
        opacity: 1;
      }
    }
  }
}
