nav {
  .main-content {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    .logo {
      color: white;
      font-family: $antonio-font;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 28px;
      line-height: 36.23px;
      letter-spacing: -1.05px;
    }
    .hamburger {
      opacity: 1;
      transition: all ease-in-out 300ms;
      &.dim {
        opacity: 24.87%;
      }
    }
  }
  .planet-links {
    background: #070724;
    padding: 24px 24px;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 300ms;
    &.show-content {
      visibility: visible;
      opacity: 1;
    }
    // This needs to be fixed in the future
    // It is making the height of the planet links box 100vh - border-bottom of the nav - padding top and bottom of nav - size of the content of the nav
    height: calc(100vh - 69px);

    .planet-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: solid 1px rgba(255, 255, 255, 0.2);
      .name {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: white;
          font-family: $spartan-font;
          font-weight: 700;
          font-size: 15px;
          line-height: 15px;
          letter-spacing: 1.36px;
          text-transform: uppercase;
        }
        .planet-icon {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          margin-right: 24px;
          &.mercury {
            background: #def4fc;
          }
          &.venus {
            background: #f7cc7f;
          }
          &.earth {
            background: #545bfe;
          }
          &.mars {
            background: #ff6a45;
          }
          &.jupiter {
            background: #ecad7a;
          }
          &.saturn {
            background: #fccb6b;
          }
          &.uranus {
            background: #65f0d5;
          }
          &.neptune {
            background: #497efa;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    height: max-content;
    .main-content {
      border-bottom: none;
      .hamburger {
        display: none;
      }
    }
    .planet-links {
      visibility: visible;
      opacity: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: max-content;
      overflow: hidden;
      background: none;
      .planet-link {
        border-bottom: none;
        .chevron,
        .planet-icon {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    height: 109px;
    padding: 0 20px;
    .logo {
      width: max-content;
      padding: 0;
    }
    .planet-links {
      padding: 0;
      height: 100%;
      width: max-content;
      .planet-link {
        position: relative;
        top: 0;
        height: 100%;
        &:not(:last-of-type) {
          margin-right: 40px;
        }
        &.mercury {
          border-top: 5px #def4fc solid;
          border-bottom: 5px transparent solid;
        }
        &.venus {
          border-top: 5px #f7cc7f solid;
          border-bottom: 5px transparent solid;
        }
        &.earth {
          border-top: 5px #545bfe solid;
          border-bottom: 5px transparent solid;
        }
        &.mars {
          border-top: 5px #ff6a45 solid;
          border-bottom: 5px transparent solid;
        }
        &.jupiter {
          border-top: 5px #ecad7a solid;
          border-bottom: 5px transparent solid;
        }
        &.saturn {
          border-top: 5px #fccb6b solid;
          border-bottom: 5px transparent solid;
        }
        &.uranus {
          border-top: 5px #65f0d5 solid;
          border-bottom: 5px transparent solid;
        }
        &.neptune {
          border-top: 5px #497efa solid;
          border-bottom: 5px transparent solid;
        }
        .name {
          p {
            cursor: pointer;
          }
        }
      }
    }
  }
}
