.planet-image {
  height: 304px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.mercury {
      height: 111px;
      width: 111px;
    }
    &.venus {
      height: 154px;
      width: 154px;
    }
    &.earth {
      height: 173px;
      width: 173px;
    }
    &.mars {
      height: 129px;
      width: 129px;
    }
    &.jupiter {
      height: 224px;
      width: 224px;
    }
    &.saturn {
      height: 256px;
      width: 256px;
    }
    &.uranus {
      height: 176px;
      width: 176px;
    }
    &.neptune {
      height: 173px;
      width: 173px;
    }
  }
  .surface-overlay {
    height: 199px;
    width: 163px;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -75%) scale(50%);
    display: none;
    &.show-content {
      display: block;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .planet-image {
    height: 460px !important;
    .planet {
      &.mercury {
        height: 184px;
        width: 184px;
      }
      &.venus {
        height: 253px;
        width: 253px;
      }
      &.earth {
        height: 285px;
        width: 285px;
      }
      &.mars {
        height: 213px;
        width: 213px;
      }
      &.jupiter {
        height: 369px;
        width: 369px;
      }
      &.saturn {
        height: 422px;
        width: 422px;
      }
      &.uranus {
        height: 290px;
        width: 290px;
      }
      &.neptune {
        height: 285px;
        width: 285px;
      }
    }
    .surface-overlay {
      transform: translate(-50%, -75%) scale(1);
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .planet-image {
    height: 660px !important;
    .planet {
      &.mercury {
        height: 290px;
        width: 290px;
      }
      &.venus {
        height: 400px;
        width: 400px;
      }
      &.earth {
        height: 450px;
        width: 450px;
      }
      &.mars {
        height: 336px;
        width: 336px;
      }
      &.jupiter {
        height: 582px;
        width: 582px;
      }
      &.saturn {
        height: 666.09px;
        width: 666.09px;
      }
      &.uranus {
        height: 458px;
        width: 458px;
      }
      &.neptune {
        height: 450px;
        width: 450px;
      }
    }
  }
}
