@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&family=Spartan:wght@400;700&display=swap');

// Fonts
$antonio-font: 'Antonio', sans-serif;
$spartan-font: 'Spartan', sans-serif;

// Breakpoints
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;
